body{
    background-image: url("image/style.png");
    background-size: cover;
}
.box{
    text-align:center;
    font-size:17px;
    width:auto;
    height:35px;
    background-color:#B0C4DE;
    border-radius:15px;
}
.daimei {
    font-size:  40px;
    text-align:center;
}
.day {
    font-size:  20px;   
    text-align:right; 
}
.dai{
    font-size: 25px;   
    text-align:left; 
}
.bun{
    font-size:  20px;   
    text-align:left; 
}
.back{
    text-align:center;
    width:100px;
    height:35px;
    font-size:18px;
    background-color:#B0C4DE;
    border-radius:15px;
}
.inviteback{
    text-align:center; 
}
.invitebun{
    font-size:  20px;   
    text-align:center;
  
}
.invitebox{
    text-align:center;
    width:auto;
    height:45px;
    font-size:27px;
    background-color:#B0C4DE;
    border-radius:15px;
}
.title{
    text-align:center; 
}
.shoukai{
    text-align:center;
} 
.right2{
    text-align: center;
}
.footer{
    text-align:center;
}
.jump{
    line-height:600px;
    text-align:center;
}
